APP_ENV=local
LOG_LEVEL=info
ALLOWED_ORIGINS=http://localhost:3000,https://julesfoundation.com,https://www.julesfoundation.com,https://main.d1jgyq9fz4ajo6.amplifyapp.com,https://dev.d1jgyq9fz4ajo6.amplifyapp.com
CONTACT_TO_EMAIL=Julesfoundationinc@gmail.com
CONTACT_FROM_EMAIL=Julesfoundationinc@gmail.com
NEWSLETTER_TABLE_NAME=jules-foundation-newsletter-local
